apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "11.2.3" #Could use 66.x, and flux will only update based upon the major version. 66.* works too. 
      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
        namespace: monitoring
      interval: 12h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  driftDetection:
    mode: enabled
    ignore:
      - paths: ["/metadata/annotations/prometheus-operator-validated"]
        target:
          kind: PrometheusRule
  values:
    grafana:
      adminPassword: ginrai
      #grafana.Ini:
        #server:
          #domain: grafana.crpruett.net
          #root_url: https://grafana.crpruett.net
     # ingress:
        #enabled: true
        #ingressClassName: traefik
       # hosts:
         # - grs.crpruett.net
        #tls: []
